<div class="footer">
  <div class="footer-copyright">
      Let's get in touch
  </div>
  <div class="footer-links">
    <a target="_blank" title="My Resume" href=<%= data.resume.link %>><i class="fas fa-file"></i></a>
    <a href="mailto:gavin.rene.g@gmail.com" title="Email me"><i class="fas fa-envelope icon"></i></a>
    <a target="_blank" title="My Github page" href="https://github.com/RenGVZ"><i class="fab fa-github"></i></a>
    <a target="_blank" title="My Linkedin page" href="https://www.linkedin.com/in/gavin-garza"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
