<div class="sidebar"> 
  <div class="sidebar-sticky">
    <div class="sidebar-about"> 
      <h1>Gavin Garza</h1>
        <hr>
      <p>Full Stack developer</p>
      <p>Welcome to my personal portfolio</p><hr>

      <div class="sidebar-menu">
        <ul>
          <li> <a href="#1">About</a> </li><hr>
          
              <li> <a href="#2">kiota</a></li><hr>
              <li> <a href="#3">Game Exchange</a></li><hr>
              <li> <a href="#4">Mister Cocktail</a></li>
           
          <hr>
          <li><%= link_to "My Resume(CV)", 'https://drive.google.com/file/d/1Y5c-EwS_BViI67N1ay3SadC6qpiendqZ/view?usp=sharing', target: "_blank" %></li><hr>
        </ul>
      </div>

      <div class="sidebar-social">
        <ul>
          <li><a href="mailto:gavin.rene.g@gmail.com" title="My email"><i class="fas fa-envelope icon"></i></a></li>
          <li><a target="_blank" href="https://github.com/RenGVZ" title="My Github page"><i class="fab fa-github icon"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/gavin-garza/" title="My Linkedin page"><i class="fab fa-linkedin-in icon"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>