<div class="sidebar"> 
  <div class="sidebar-sticky">
    <div class="sidebar-about"> 
      <h1>Gavin Garza</h1>
        <hr>
      <p>Full Stack developer</p>
      <p>Welcome to my personal portfolio</p><hr>

      <div class="sidebar-menu">
        <ul>
          <li> 
              <a href="#1">About Me</a> </li><hr>
              <% data.projects.projects.each do |project| %>
                <li>
                  <a 
                    href='#<%= project.id %>' >
                    <%= project.projectTitleMain %>  
                  </a>
                </li><hr>
              <% end %>
             
          <li><%= link_to "My Resume(CV)", data.resume.link, target: "_blank" %></li><hr>
        </ul>
      </div>

      <div class="sidebar-social">
        <ul>
          <li><a href="mailto:gavin.rene.g@gmail.com" title="My email"><i class="fas fa-envelope icon"></i></a></li>
          <li><a target="_blank" href="https://github.com/RenGVZ" title="My Github page"><i class="fab fa-github icon"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/gavin-garza/" title="My Linkedin page"><i class="fab fa-linkedin-in icon"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>