<div class="sidebar"> 
  <div class="sidebar-sticky">
    <div class="sidebar-about"> 
      <h1>Gavin Garza</h1>
        <hr>
      <p>Full Stack developer</p>
        <br>
      <p>Welcome to my personal portfolio</p><hr>

      <div class="sidebar-menu">
        <ul>
          <li> <%= link_to 'About', '/index.html' %> </li><hr>
          <li>Projects</li>
            <ul>
              <li> <%= link_to 'kiota', '/kiota.html'  %></li>
              <li> <%= link_to 'Game Exchange', '/game_exchange.html'  %></li>
              <li> <%= link_to 'Mister Cocktail', '/mr_cocktail.html'  %></li>
            </ul>
          <hr>
          <li>My Resume (CV)</li><hr>
        </ul>
      </div>

      <div class="sidebar-social">
        <ul>
          <li><a href="mailto:gavin.rene.g@gmail.com"><i class="fas fa-envelope icon"></i></a></li>
          <li><a target="_blank" href="https://github.com/RenGVZ"><i class="fab fa-github icon"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/gavin-garza/"><i class="fab fa-linkedin-in icon"></i></a></li>
          <li><a target="_blank" href="https://www.instagram.com/gavinrene/"><i class="fab fa-instagram icon"></i></a></li>
        </ul>

      </div>
    </div>
  </div>
</div>