.avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.avatar-app {
  height: 80px;
  width: 80px;
}

#game-icon {
  height: 60px;
  width: 60px;
}

@media(max-width: 810px) {
  .avatar-app {
    height: 100px;
    width: 100px;
  }
}