#myCarousel {
  width: 400px;
  position: relative;
  margin-left: 50%;
  margin-right: auto;
  margin-top: 10%;
}

.carousel-img {
  height: 300px;
  width: 300px;

}

.carousel-inner {
  margin-left: 13%;
}

.carousel-control {
  width: 0%;
}