.landing {
  height: 100vh;
  background: linear-gradient(#BD9589, #9C7D61);
  margin-left: 20%;
  display: flex;
  justify-content: center;
}

.landing-info {
  display: flex;
  flex-flow: column;
  margin-top: 10%;
}

.landing-info h1{
  color: white;
}

@media (max-width: 555px) {
  .landing {
    margin-left: 0%;
    height: 50vh;
  }

  .landing-info {
  }
  h1 {
    font-size: 26px;
  }
}

