.landing {
  height: 100%;
  // background: $background;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-info {
  display: flex;
  flex-flow: column;
  margin-top: 10%;
}

.description {
  margin: 10%;
  width: 70%;
  text-align: center;
  color: white;

  p {
    padding-top: 10px;
  }
}

.page-break-header {
  color: white;
  font-size: 38px;
}

@media (max-width: 1140px) {
  .description {
    height: 70vh;
  }
}

@media (max-width: 810px){
  .landing {
    margin-left: 0%;
    height: 100%;
    padding-top: 0;
  }
}

@media (max-width: 555px) {
  .landing {
    margin-left: 0%;
    height: 100%;
    padding-top: 0;
    width: 100%;
  }

  .description {
    height: 110vh;
  }
}
