.landing {
  height: 100vh;
  background: linear-gradient(#B7A8B0, #9C7D61);
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-info {
  display: flex;
  flex-flow: column;
  margin-top: 10%;
  // text-align: center;
}

.description {
  margin: 10%; 
  text-align: center;
  color: white;

  p {
    padding-top: 10px;
  }
}

@media (max-width: 555px) {
  .landing {
    margin-left: 0%;
    height: 100vh;
    padding-top: 10%;
  }

  .landing-info {
  }
  h1 {
    font-size: 26px;
  }
}

