.project-cocktail {
  background: linear-gradient(#BD9488, #78765D);
  overflow-y: scroll;
}

#cocktailCarousel {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.cocktail-carousel-img {
  height: 800px;
  width: 800px;
}

#cocktail-inner {
  margin-left: 19%;
}

@media (max-width: 555px) {
  #cocktailCarousel {
    width: 300px;
  }

  #cocktail-inner {
    margin-left: 0;
  }
}

@media (min-width: 600px) {
  #cocktailCarousel {
    width: 498px;
  }
  #cocktail-inner {
    margin-left: 18%;
  }
}

@media (min-width: 1024px) {
  #cocktailCarousel {
    width: 668px;
  }
  #cocktail-inner {
    margin-left: 16%;
  }
}

@media (min-width: 1440px) {
  #cocktailCarousel {
    width: 780px;
  }
}

@media (min-width: 1450px) {
  #cocktailCarousel {
    width: 1400px;
  }

  .cocktail-carousel-img {
    height: 1400px;
    width: 1400px;
  }
}
