@media (max-width: 555px) {
  .home-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
  }

  .logo-box {
    height: 110px;
    width: 90px;
  }

  .logo-text {
    font-size: 12px;
  }

  .avatar-app {
    height: 40px;
    width: 40px;
  }

  .description p {
    font-size: 15px;
  }

  #game-icon {
    height: 40px;
    width: 40px;
  }

  #game-text {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .kiota {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .mister-cocktail {
    margin-top: -10%;
  }
}