.project1 {
  background: $boxcolor;
  width: 90%;
  height: 600px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.project-info {
  margin-left: 10px; 
  margin-right: 10px;
  overflow-wrap: break-word;
}

.project-head {
  text-align: center;
}

.inner-image {
  height: 100%; 
  width: 100%;
}

.project-container {
  margin-left: 20%;
  width: auto;
}

//Other Code

@media (max-width: 810px) {
  .project-container {
    margin-left: 0%;
    width: auto;
  }
  
}