.project-container {
  width: auto;
  // margin-top: 10%;
  margin-bottom: 10%;
}

.inner-container {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.project-box {
  // background: $boxcolor;
  border-radius: 4px;
  height: 540px;
  display: flex;
  align-items: center;
  // margin: 20px;
  padding: 0 10px 0 12px;
}

.project-title {
  color: white;
}

.project-text {
  color: white;
}

.k-pic {
  height: 500px;
}

.mister-cocktail {
  margin-top: -8%;
}

@media (max-width: 810px) {
  .project-container {
    margin-left: 0%;
    width: auto;
  }

  .k-pic {
    height: 300px;
  }

  .project-text {
    font-size: 10px;
  }
}

@media (min-width: 2240px) {
  .project-box {
    margin-top: 10%;
  }
  .k-pic {
    height: 730px;
    width: 480px;
  }
  .k-row {
    display: block;
  }
}