.scrolling-box {
  background-color: #eaeaea;
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  margin-left: 20%;
}

.project-list {
  
  // height: 300vh;

    .project {
      text-align: center;
    }
}

.kiota-img {
  height: 400px;
  width: 250px;
}

.cocktail-img {
  padding-top: 20px;
  height: 380px;
  width: 450px;
}

.contact {
  margin-left: 25%;
}