---
title: Le Wagon Middleman boilerplate
name: Gavin
---

<div class="welcome text-center padded">
  <h1>Who am I?</h1>
  <p> Full Stack Developer, Constant Tinkerer, etc., etc.
  <p>Bitch I'm <%= current_page.data.name %></p>
</div><!-- .welcome -->

<div class="project-list bg-green">
  <div class="project pro1">
      <h1>This is the first line</h1>
      <p>This is the content</p>
  </div>

  <div class="project pro2">
    <h1>This is the second line</h1>
    <p>This is the content</p>
  </div>

  <div class="project pro3">
    <h1>This is the third line</h1>
    <p>This is the content</p>
  </div>
</div>