<div class="project">
  <div class="header text-left">
    <h1>Kiota</h1><hr>
  </div>
  <div class="project-info">
    <p>kiota is an app designed to help people find apartments thoughout the Tokyo area. It starts out by asking the user a series of engaging (and unusual) questions. From there, information is extracted from the answers and only the best apartments that match the criteria are then shown to the users. From there users can "swipe" apartments to like or dislike them. The final stage allows the user to then set up a meeting (time/date/location) with the real estate agent at the property. This project was an original idea of mine that I'd hoped would be a compelling app. In the end it was designed with a team of three over the course of 5 weeks, I was tasked with the role of project leader.</p>
  </div>
  <%= partial 'partials/kiota' %>
</div>